div.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: .4;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

div.wrapper.active {
  display: flex;
}

section.popup {
  position: relative;
  width: fit-content;
  height: fit-content;
  max-width: 96vw;
  max-height: 94vh;
  padding: 50px 20px;
  border: 0.775047px solid #4D4E54;
  border-radius: 10px;
}

div.close {

}

article.content {
  display: flex;
}

div.imageWrapper {

}