form.container {
  padding: 2rem 20px;
}

span.about {
  color: #9295A0;
  font-weight: 500;
  font-size: 15px;
}

article.input_wrapper {
  position: relative;
  background: #434856;
  border: .5px solid #4D4E54;
  border-radius: 5px;
  margin: 10px 0;
  height: 38px;
  padding: 0 2px;

  display: flex;
  align-items: center;
}

input.input {
  height: 36px;
  margin: 0 4px;
  flex-grow: 1;
  background: transparent;
  border: none;

  font-size: 12px;
  color: #C7CAD1
}

input.input::placeholder {
  font-size: 11px;
  color: #C7CAD1;
}
