html {
  --font: 'Encode Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #162029;
  line-height: 95%;
  margin-bottom: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

* {
  box-sizing: border-box;
}

